
html, body {
  margin: 0;
  height: 100%;
}

/*-----------------------
        BAR CHART
/*----------------------*/

.bar {
  fill: #0080FF;
  /* stroke: black; */
  /* stroke-width: 5; */
}

.text {
  fill: white;
  font-family: sans-serif
}

