
html, body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 6%;
  width: 100%;
}


/*--------------------------------
        BAR CHART by Chart.js
/*--------------------------------*/

#myChart{
	width: 50%;
	height: 50%;
}

